name: Deploy Now

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-to-ionos:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
        env:
          CI: false

      - name: Deploy to IONOS
        uses: ionos-deploy-now/deploy-to-ionos@v1
        with:
          dist-folder: build
          project: web-designer-colmar
          storage-quota: 10GB
          branch: main
